*{padding: 5px; margin: 5px}
.img-centrada{display:block; margin:auto; display: table-cell; 
vertical-align: middle;}  
#color{background-color: black; color: white; font-family: monospace}
.negrita{font-weight: 900;}
.negrita:hover{background-color: orange; color:black}

